@charset "utf-8";
/*
 * File       : layout.css
 * SUMMARY:
 * 01) GLOBAL
 * 02) HEADER
 * 03) CONTAINER
 * 04) FOOTER
 */



/* **************************************** *
 * GLOBAL
 * **************************************** */
html {font-size: 6.25%;}
html.safari.desktop {font-size: 0.05254860746190226vw;}
body {overflow-x: hidden;font-size:16rem;font-family: 'NotoSansKR', sans-serif; position:relative; background:#181818; word-break: keep-all;}
a {color:#666;text-decoration: none;}
[lang="en"] {letter-spacing: 0;}
html[lang="zh-TW"] body {word-break: break-word; ;font-family: 'NotoSansKR', sans-serif;}


/* WRAP */
.wrap {max-width: 1362rem;margin: 0 auto; position:relative;}
.wrap_middle {max-width: 1200rem;margin: 0 auto;position: relative;}
.wrap_medium {max-width: 1100rem;margin: 0 auto;position: relative;}
.wrap_narrow {max-width: 980rem;margin: 0 auto; position:relative;}

/*.custom_cursor { position: absolute; background-color: #fff; width: 6rem; height: 6rem; border-radius: 100%; z-index: 1; transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity; user-select: none; pointer-events: none; z-index: 10000; transform: scale(1); } 
.custom_cursor.active { opacity: 0.5; transform: scale(0); } 
.cursor.hovered { opacity: 0.08; }*/
html:not(.mobile) .custom_cursor { position: fixed; background-color: rgba(255, 255, 255, 0.3); width: 20rem; height: 20rem; border-radius: 100%; z-index: 1; transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity; user-select: none; pointer-events: none; z-index: 10000; transform: translate(5rem, 5rem); } 
html:not(.mobile) .custom_cursor.active { opacity: 0.7; transform: scale(3); }
html:not(.mobile) .custom_cursor.hovered { opacity: 0.08; }


/* **************************************** *
 * HEADER
 * **************************************** */
 /* COOKIE POPUP */
.cookie-popup {position:fixed;bottom:0;width:100%;background:#fff;padding: 30rem 0 32rem;z-index: 500;-webkit-box-shadow: 1rem 0 3rem rgba(0,0,0,0.1);  box-shadow: 1rem 0 3rem rgba(0,0,0,0.1);}
html.desktop .cookie-popup {min-width: 1280px;}
.cookie-popup p { color:#222; font-size:16rem; line-height:1.5; margin-right:120rem;letter-spacing:-0.025em;}
.cookie-popup button {position:absolute;right:0;top: 50%;transform: translateY(-50%);background: linear-gradient(90deg, rgba(134,31,145,1) 0%, rgba(35,104,142,1) 100%);font-size: 15rem;color: #fff;padding: 5rem 30rem 7rem;border-radius: 30rem;border: none;cursor:pointer;}

/* LOGO */
#header {width:100%; height:175rem;position: fixed;top: 0;left: 0;-webkit-transition: height .3s;transition: height .3s;z-index: 500;}
#header:before { background: rgba(25,25,25,0.9); content:''; display:block; width: 100%; height: 100%; position: absolute; opacity:0; -webkit-transition: opacity .3s;transition: opacity .3s;}
#header .header_logo {position:absolute;width: 190rem;height: 33rem;left:0;top: 58rem;z-index:50; -webkit-transition: top .3s, width .3s, height .3s; transition: top .3s, width .3s, height .3s;}
#header .header_logo a {display:block;}
#header .header_logo img { display:block; width:100%;}
#header .wallet_logo {display:none; font-size: 22rem;font-weight: 600;color: #fff;position: absolute;left: 210rem;top: 55rem; }
#header .wallet_logo span {position:relative;}
#header .wallet_logo i.bavi {display: block;width:154rem;height:27rem;background:url(../images/layout/bavi-logo-white.svg) no-repeat;background-size: 100% auto;}
.create_wallet_before .util_submenu_title {text-align:center;}
.create_wallet_before .bavi_logo {position:relative;width:77rem;height:77rem;margin: auto;border-radius:50%;background:#959595;overflow:hidden;display: block;font-style: normal;}
.create_wallet_before .bavi_logo:before {font-family:'aurora-font';content:'\e940';font-weight:normal;font-size: 38rem;color:#fff;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);}
.create_wallet_before .bavi_logo img {display:block;width: 100%; height: 100%; object-fit: cover;}
.create_wallet_before .wallet_id_name {font-size:16rem;font-weight: 700;}
.create_wallet_before .btn_create {width: 100%;display: block;margin-top: 10rem;font-size: 18rem;font-weight: 700;color:#fff;background:#313131;padding: 8rem 15rem 10rem;border-radius: 6rem;box-shadow: 0 4rem 1rem rgb(0 0 0 / 25%);}

/* body:not(.body_main) #header {position: fixed;top: 0;left: 0;-webkit-transition: height .3s;transition: height .3s;transition: height .3s;transition: height .3s;z-index: 500;} */


/* MENU */
.global_menu_nav_wrap {position:absolute;right: 0;top: 42rem;-webkit-transition: top .3s;transition: top .3s;}
.global_menu_nav {display:inline-block;vertical-align:middle; /*margin-right:140rem;*/}
.global_menu_nav > ul > li {display: inline-block;vertical-align: middle;position: relative;}
.global_menu_nav > ul > li:last-child {}
.global_menu_nav > ul > li.menu_mypage {margin-right:10rem;}
.global_menu_nav > ul > li > a {padding: 15rem 35rem 20rem;position: relative; font-size: 20rem;font-weight: 600;color:#fff;letter-spacing:-0.025em;display:block;}
html.mobile .global_menu_nav > ul > li > a {color:#ccc;}
html.mobile .global_menu_nav > ul > li.active > a {color:#fff} 
html:not(.mobile) .global_menu_nav > ul > li.active > a { color:#a023c4;  font-weight:700;}
html:not(.mobile) .global_menu_nav > ul > li.active > a > span {border-bottom:2rem solid #a023c4;}
.global_menu_util {display: inline-block;vertical-align: middle;position: relative;}
.btn_global_login {padding: 15rem 35rem 20rem;position: relative;font-size: 20rem;font-weight: 600;color:#fff;letter-spacing:-0.025em;display:inline-block; vertical-align:middle;}
.btn_global_login.active {color:#a023c4; font-weight:700;}
.btn_global_login.active span {border-bottom: 2rem solid #a023c4;}
.btn_member {font-size: 16rem;font-weight: 600;color:#fff;letter-spacing:-0.025em;border:1rem solid #fff;border-radius:30rem;display: inline-block;vertical-align:middle;padding: 6rem 33rem 7rem; margin-left:20rem;}
html.ios .btn_member {padding-top:5rem; padding-bottom:7rem;}
.btn_notification {position:relative;display: inline-block;vertical-align: middle;margin-right: 50rem;}
.btn_notification:before {font-family:'aurora-font';font-size: 20rem;color:#fff;content:'\e928';}
.btn_notification > span {width: 15rem;height: 15rem;background:#d74022;border-radius:50%;color:#fff;text-align:center;font-size: 10rem;line-height: 14rem;display: block;position: absolute;right: -7rem;top: -2rem;}

/* util menu */
.global_menu_util > ul {display:flex; gap:20rem;height: 100%; align-items: center;justify-content: right; }
.global_menu_util > ul > li {position:relative;}
.global_menu_util > ul > li > button {border:none; background:none;}
.global_menu_util > ul > li > button:before {font-family:'aurora-font';font-size: 29rem;font-weight:normal;color:#fff;}
.global_menu_util > ul > li.global_menu_util_profile > button:before {content:'\e935'; font-size:24rem;}
.global_menu_util > ul > li.global_menu_util_wallet > button:before {content:'\e934'}
.global_menu_util > ul > li.global_menu_util_galaxy_wallet > button:before {content:'\e934'}
.global_menu_util > ul > li.global_menu_util_cart > button:before {content:'\e936'}
.global_menu_util_submenu {display:none;width: 267rem;position:absolute;left:50%;top: 50rem;transform:translateX(-50%); z-index:500;}
.global_menu_util_submenu.active {display:block;}
.util_submenu_popup {background: #fff;border-radius: 10rem;overflow:hidden;box-shadow: 0 4rem 9rem rgb(0 0 0 / 38%);}
.util_submenu_title {position: relative;font-size:20rem;font-weight: 700;color:#fff;background:#b057b9;text-align:center;padding: 8rem 15rem 10rem;text-align: left;}
.util_submenu_title > span {position:relative;}
.util_submenu_title i.bavi {display: block;width:154rem;height:27rem;background:url(../images/layout/bavi-logo-white.svg) no-repeat;background-size: 100% auto;}
.util_submenu_title .global_menu_util_submenu_close {display:none;position:absolute;right:10rem;padding: 0;width: 40rem;height: 40rem;}
.util_submenu_title .global_menu_util_submenu_close:before {font-family:'aurora-font';font-size: 22rem;font-weight:normal;color:#898989;content:'\e920';}
.util_submenu_popup_menu {display:none;position:absolute;right: -156rem;top: 0;background: #fff;padding: 12rem 12rem;border-radius: 10rem;}
.util_submenu_popup_menu.active {display:block;}
.util_submenu_popup_menu a {font-size:16rem;font-weight:700;line-height: 1.2;color:#313131;}
.util_submenu_popup_menu li + li {border-top: 2rem solid #ddd;padding-top: 10rem;margin-top: 10rem;}
.util_submenu_popup_menu li span {position:relative; padding-left:25rem;}
.util_submenu_popup_menu li span:before {position:absolute;top: calc(50% + 2rem);left:0;transform:translateY(-50%);font-family:'aurora-font';font-size: 18rem;font-weight:normal;color:#313131;}
.util_submenu_popup_menu li.expand span:before {content:'\e93d';}
.util_submenu_popup_inner {padding: 15rem 15rem 17rem;text-align:center;}

.global_menu_util_submenu_profile .util_submenu_title {display:none;}
.global_menu_util_submenu_profile li {display:flex;font-size:20rem; font-weight:700; text-align:left;}
.global_menu_util_submenu_profile li + li {margin-top:10rem; padding-top:10rem; border-top:2rem solid #ddd;}
.global_menu_util_submenu_profile li a {color:#313131;}
.global_menu_util_submenu_profile li p {margin-left:auto;color:#b057b9;}

.create_wallet_before .util_submenu_title i.bavi {margin:0 auto;}
.create_wallet_before .bavi_logo {position:relative;width:77rem;height:77rem;margin: auto;border-radius:50%;background:#959595;overflow:hidden;display: block;font-style: normal;}
.create_wallet_before .bavi_logo:before {font-family:'aurora-font';content:'\e940';font-weight:normal;font-size: 38rem;color:#fff;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);}
.create_wallet_before .bavi_logo img {display:block;width: 100%; height: 100%; object-fit: cover;}
.create_wallet_before .wallet_id_name {font-size:16rem;font-weight: 700;}
.create_wallet_before .btn_create {margin-top:0;width: 100%;display: block;font-size: 18rem;font-weight: 700;color:#fff;background:#313131;padding: 8rem 15rem 10rem;border-radius: 6rem;box-shadow: 0 4rem 1rem rgb(0 0 0 / 25%);}

.util_submenu_title button {display: block;width:20rem;height: 16rem;background: none;border: none;position: absolute;right: 15rem;top: 50%;transform: translateY(-50%);}
.util_submenu_title button i {display: block;width: 100%;height: 2rem;position: absolute;left: 0;background: #fff;-webkit-transition: background 300ms;transition: background 300ms;}
.util_submenu_title button i:nth-child(1) {top: 0;}
.util_submenu_title button i:nth-child(2) {top: 7rem;}
.util_submenu_title button i:nth-child(3) {bottom: 0;width: 80%;left: auto;right: 0;}

.wallet_user_info_wrap {display:flex;align-items: center;}

.wallet_user_info_wrap .wallet_user_img {width:42rem;height:42rem;border-radius: 50%;overflow:hidden;border: 1rem solid #ddd;}
.wallet_user_info_wrap .wallet_user_img img {width:100%; display:block;}
.wallet_user_info_wrap .wallet_user_info {flex:1; margin-left:10rem;text-align:left;font-size:16rem;line-height: 1.4;}
.wallet_user_info_wrap .wallet_user_info .wallet_name {font-weight: 700;color: #313131;}
.wallet_user_info_wrap .wallet_user_info #enableEthereumButton + .wallet_name {margin-top:5rem;}
.wallet_user_info_wrap .wallet_user_info #enableEthereumButton + .wallet_name:empty {margin-top:0}
.wallet_user_info_wrap .wallet_user_info .wallet_key {color:#aaa;}
.wallet_user_info_wrap .wallet_user_info .wallet_key button {display: inline-block;vertical-align: middle;margin-left: 10rem;background:#b057b9;font-size:12rem;font-weight:600;line-height:1.3;padding:1rem 16rem 3rem;margin-top:0;}
.wallet_user_info_wrap .wallet_user_info #enableEthereumButton {padding: 0 10rem; width: 100%;height: 30rem;line-height: 29rem;display: inline-block; background:#b057b9; position: relative; align-item: middle;font-weight: 500;font-size: 15rem;color: #fff;letter-spacing: -0.025em;text-align: center;border: none;cursor: pointer;border-radius: 6rem;-webkit-transition: all 300ms;transition: all 300ms;}

.wallet_pmw {margin-top:15rem; background:#eee; border-radius:10rem; padding:15rem; text-align:center;}
.wallet_pmw figure {width:60rem; height:60rem; margin:auto;}
.wallet_pmw b {margin-top:5rem;font-size:24rem; line-height:1.2; color:#313131; display:block; word-wrap: break-word;}
.wallet_pmw span { font-size:16rem; font-weight:700; line-height:1.4; color:#aaa; display:block;}

.wallet_function {display:flex;justify-content: center;margin-top: 14rem;}
.wallet_function li {width:33.33%; text-align:center;}
.wallet_function li a {font-size:16rem; color:#aaa;}
.wallet_function li a i {width:36rem;height:36rem;line-height: 34rem;margin:auto;background:#313131;border-radius:50%;display:block;}
.wallet_function li a i:before {font-family:'aurora-font';font-weight:normal;font-style:normal;font-size: 20rem;color:#fff;}
.wallet_function li a span {display:block;}
.wallet_function li.wallet_function_receive a i:before {content:'\e93c';}
.wallet_function li.wallet_function_send a i:before {content:'\e93a';}
.wallet_function li.wallet_function_swap a i:before {content:'\e938';}

/* wallet tab */
.wallet_tab_list {margin-top:10rem;}
.tabs_menu li { width: 50%; }
.tabs_menu {display: table;width: 100%;margin: 0 auto 10rem;}
.tabs_menu li {display: table-cell;position: relative;vertical-align: middle;border-bottom: 2rem solid #ddd;cursor: pointer;}
.tabs_menu li.tabs_active {border-color:#313131;}
.tabs_menu li a {display: block;width: 100%;padding: 7rem 15rem;font-size: 16rem;font-weight: 700;line-height: 1.35;text-align: center;color: #aaa;-webkit-transition: color .3s;transition: color .3s;}
html.desktop .tabs_menu li:hover a, .tabs_menu li.tabs_active a {color: #313131;}
.tabs_panels {width: 100%;}

.assets_item + .assets_item {margin-top:8rem;}
.assets_item a {display:flex;gap: 6rem;position:relative;padding-right: 25rem;align-items: center;}
.assets_item a:after {font-family:'aurora-font';font-size: 14rem;font-weight:bold;color:#313131;content:'\e904'; position:absolute;right:0; top:50%; transform:translateY(-50%);}
.assets_item figure {width: 40rem;height: 40rem;border-radius:50%;background: #f4f4f4;overflow:hidden;}
.assets_item p { text-align: left;}
.assets_item b {font-size:16rem; line-height:1.2;color:#313131; display:block;}
.assets_item span {font-size:16rem;line-height:1.2;color:#aaa;display:block;}
.assets_item.assets_item_nft p {display:flex;flex-grow: 1;align-items: center;}
.assets_item.assets_item_nft b {}
.assets_item.assets_item_nft span {margin-left:auto;font-weight: 600;}
#assets_eth img {height: 100%; padding: 6rem;}

.activity_item {display:flex;gap: 6rem;align-items: center;}
.activity_item + .activity_item {margin-top:8rem;}
.activity_item figure {width: 40rem;height: 40rem;border-radius:50%;overflow:hidden;}
.activity_item p { flex-grow: 1; text-align: left;}
.activity_item p + p {text-align:right;}
.activity_item b {font-size: 12rem;color:#313131;display:block;}
.activity_item span {font-size: 12rem;line-height: 1.2;color:#aaa;display:block;}

/* wallet loading */
.wallert_loading_bg {display: none;background:rgba(0,0,0,0.5);position: fixed;width: 100%;height: 100%;top: 0;left: 0;right: 0;bottom: 0;z-index: 500; }

.wallet_loading {display:none;position: absolute;left: 0;top: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.5);z-index: 10;}
.wallet_spinner {margin: auto;border: 3rem solid #fff;width: 32rem;height: 32rem;display: inline-block;position: absolute;top: 45%;left: 45%;border-radius: 50%;border-right: 3rem solid #b057b9;text-align:center;animation-name: spin;animation-duration: 900ms;animation-iteration-count: infinite;animation-timing-function: cubic-bezier(0.53, 0.21, 0.29, 0.67);}
@-webkit-keyframes spin {0% { -webkit-transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); }}
@keyframes spin {0% { -webkit-transform: rotate(0deg);} 100% { -webkit-transform: rotate(360deg); }}


/* galaxy wallet */
.global_menu_util_galaxy_wallet .util_submenu_popup {border-radius:20rem;}
.global_menu_util_galaxy_wallet .global_menu_util_submenu {width:350rem;}
.galaxy_wallet_tab_list .tabs_menu {margin-bottom:0; }
.galaxy_wallet_tab_list .tabs_menu li {border-bottom:none; }
.galaxy_wallet_tab_list .tabs_menu li:nth-child(1) a{border-radius:0 0 5rem 0;}
.galaxy_wallet_tab_list .tabs_menu li:nth-child(2) a{border-radius:0 0 0 5rem;}
.galaxy_wallet_tab_list .tabs_menu li a {padding:22rem 10rem; font-size:18rem; color:#fff; background:#509CFF;}
.galaxy_wallet_tab_list .galaxy_wallet_before_tab li + li {border-left:1rem solid #707070;}
html.desktop .galaxy_wallet_tab_list .tabs_menu li:hover a {color:#fff;}
html.desktop .galaxy_wallet_tab_list .tabs_menu li.tabs_active:hover a {color:#000;}
.galaxy_wallet_tab_list .tabs_menu li.tabs_active a {color:#000;}
.galaxy_wallet_tab_list .tabs_menu li.tabs_active a {background:transparent; border-radius:0;}
.galaxy_wallet_tab_list .tabs_menu li.disabled { cursor: default;}
.galaxy_wallet_tab_list .tabs_menu li.disabled a {pointer-events: none; color:#fff; background:#313131; border-radius:0;}
.galaxy_wallet_tab_list .tabs_menu li.disabled.tabs_active { background:#313131;}
html.desktop .galaxy_wallet_tab_list .tabs_menu li.disabled:hover a {color:#fff;}
.galaxy_wallet_before {padding:25rem;min-height: 395rem;display: flex; align-items: center; justify-content: center; width: 100%;background:#fff;}
.galaxy_wallet_before ul {width:100%;}
.galaxy_wallet_before li + li {margin-top:20rem;}
.galaxy_wallet_before li a {display: flex;justify-content: center;text-align:center;font-size:20rem;font-weight: 700;color:#fff;border-radius:10rem;padding: 15rem 75rem;box-shadow:5rem 5rem 5rem rgba(0,0,0,0.16);}
.galaxy_wallet_before li:nth-child(1) a {background: linear-gradient(90deg, rgba(216,96,228,1) 0%, rgba(115,102,255,1) 100%);}
.galaxy_wallet_before li:nth-child(2) a {background: linear-gradient(90deg, rgba(100,232,222,1) 0%, rgba(117,102,254,1) 100%);}
.galaxy_wallet_before li a span:nth-child(1) { flex: 1;}
.galaxy_wallet_before li a span:nth-child(2) {flex: 1;}
.galaxy_wallet_tab_list .tabs_panels {background:#fff;}

.galaxy_wallet_contents {padding:20rem 25rem;}
.galaxy_wallet_contents .wallet_pmw {margin-top:0;}
.galaxy_wallet_btn {display:block; width:100%; padding:9rem 10rem 9rem; margin-top:10rem; font-size:18rem; font-weight:700; color:#fff;border:none; border-radius:10rem; background: linear-gradient(90deg, rgba(100,232,222,1) 0%, rgba(117,102,254,1) 100%);box-shadow:5rem 5rem 5rem rgba(0,0,0,0.16);}
html.ios .galaxy_wallet_btn {padding-bottom:10rem; padding-top:8rem;}
.principal_content {margin-top:10rem;}
.principal_head {position:relative;display:flex; justify-content: center;}
.principal_head .btn_close {position: absolute; right: 0; top: 50%; transform: translateY(-50%);width:19rem; height:19rem; border-radius:50%; border:none; padding:0; background:#313131;}
.principal_head .btn_close:before {font-family: 'aurora-font'; font-size: 8rem; content:'\e956'; color:#fff;    font-weight: bold; position: absolute; left: 50%; top: 50%;transform: translate(-50%, -50%);}
.principal_title { text-align:center; font-size:15rem; font-weight:700; color:#181818;}
.principal_content .wallet_key {margin-top:5rem; display: flex;align-items:center;background:#E8E8E8; border-radius:10rem; padding:10rem 20rem 10rem;}
.principal_content .principal_id {font-size:13rem;}
.principal_content .clipboard {margin-left:auto; font-size:14rem; background:#509CFF;}
.tokens_list {margin-top:13rem;}
.tokens_title {text-align:center; font-size:15rem; font-weight:700; color:#181818; padding-bottom:10rem; border-bottom:1rem solid #000;}
.tokens_item {display:flex; align-items:center; margin-top:12rem;}
.tokens_item figure {width: 45rem;height: 45rem;border-radius:50%;background: #fff; border:1rem solid #ddd; overflow:hidden;}
.tokens_item figure img {display:block; width:100%;}
.tokens_item b {font-size:20rem; font-weight:700; margin-left:15rem; color:#181818;}
.tokens_item span {font-size:15rem; font-weight:600; margin-left:auto; color:#181818;}

.plug_principal_popup { display:none; width: 100%; height: 100%; position: absolute; left: 50%; top: 0; transform: translateX(-50%); z-index: 510; }
.plug_principal_popup:before { content: ''; display: block; width: 100%; height: 100%; background: rgba(0,0,0,0.3); position: absolute; }
.plug_principal_popup_contents { background: #fff; border-radius: 20rem; padding: 15rem 20rem 25rem; width: calc(100% - 60rem); z-index: 100; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.principal_title { font-size: 18rem; font-weight: 700; }
.plug_principal_popup .principal_id { width: 100%; padding: 6rem 15rem; margin: 15rem 0; background: #eee; border: 1rem solid #509CFF; border-radius: 5rem; font-size: 13rem; color: #181818; word-break: break-word; }
.principal_input { display:flex; align-items: center; background: #eee; border-radius: 5rem; padding: 13rem 15rem; width: 100%; margin-left: 10rem; flex: 1; text-align: right; font-size: 13rem; font-weight: 700; color: #181818; }
.principal_input p {position:relative; display:flex; align-items:center; margin-left:auto;}
.principal_input p input {border:none; background:transparent; width:100%;text-align:right; font-weight:700; font-size:13rem;} 
.principal_input .placeholder {font-size: 13rem; display: flex; align-items: center; gap: 3rem; position: absolute;right: 2rem; cursor: auto;}
.principal_input .placeholder i {font-style:normal; color:#509CFF;}
.principal_input input:focus + .placeholder {opacity:0;}
.principal_input.active .placeholder {opacity:0;}
.principal_item { display: flex; align-items: center; }
.principal_item + .principal_item {margin-top:15rem;}
.principal_item_tit {font-size:12rem; width:25%;}
.principal_item .balance { display: inline-block; margin-top:5rem; background: #313131; font-size: 10rem; font-weight: 700; color: #fff; padding: 2rem 10rem 4rem; border-radius: 10rem; }
.principal_item .btn_max {display: block; margin-top:5rem; border:none; border-radius:10rem; background:#509CFF; font-size: 10rem; font-weight: 700; color: #fff; padding: 2rem 10rem 4rem; }
.principal_estimated_fee {display:flex; width:100%; background:#eee; border-radius:5rem; padding:13rem 15rem; font-size:13rem;}
.principal_estimated_fee b {margin-left:auto; color:#181818;}
.principal_btn_wrap {display:flex; gap:10rem; margin-top:40rem;}
.principal_btn_wrap button {flex:1; border-radius:10rem; font-size:18rem; font-weight:700; padding:5rem 10rem 7rem; border:1rem solid transparent; box-shadow:0 3rem 6rem rgba(0,0,0,0.16);}
.principal_btn_wrap .principal_btn_cancel {color:#509CFF; border-color:#509CFF; background:#fff;}
.principal_btn_wrap .principal_btn_send {color:#fff; background:#509CFF;}
.principal_btn_wrap .principal_btn_send.disabled {background:#313131; pointer-events: none;}
.message_caution {width:100%; font-size:12rem; font-weight:700; color:#FF5555; text-align: center; margin-top: 8rem; position: absolute; left: 50%; transform: translateX(-50%);}
.message_caution span {position:relative;padding-left:25rem;}
.message_caution span:before {content:''; display:block; position:absolute; left:0; top:50%; transform:translateY(-50%);width:19rem; height:19rem; background:url(../images/layout/icon-caution.svg) no-repeat; }

.plug_sign_popup { display:none; width: 100%; height: 100%; position: absolute; left: 50%; top: 0; transform: translateX(-50%); z-index: 510; }
.plug_sign_popup_contents { background: #fff; border-radius: 20rem; padding: 15rem 20rem 25rem; width: calc(100% - 60rem); height: calc(100% - 60rem); z-index: 100; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

#galaxy_wallet .plug_assets_item figure {width:45rem; height:45rem; background-size:100%;}
#galaxy_wallet .plug_assets_item figure img {display:block; width:100%;}
#galaxy_wallet .plug_assets_list { margin-top: 13rem;}
#galaxy_wallet .plug_assets_title { text-align: center; font-size: 15rem; font-weight: 700; color: #181818; padding-bottom: 10rem; margin-bottom:8rem; border-bottom: 1rem solid #000;}
#galaxy_wallet .plug_assets_item a {display:flex; align-items:center; color:#181818; padding:8rem 25rem 8rem 0; position: relative;}
#galaxy_wallet .plug_assets_item a:after { font-family: 'aurora-font'; font-size: 10rem; font-weight: bold; width:21rem; height:21rem; line-height:21rem; text-align:center; border-radius:50%; background:#509CFF; color: #fff; content: '\e904'; position: absolute; right: 0; top: 50%; transform: translateY(-50%); }
#galaxy_wallet .plug_assets_item b {margin-left:15rem; font-size:20rem;}
#galaxy_wallet .plug_assets_item span {font-size:15rem; font-weight:600; margin-left:auto; margin-right:10rem;}
#galaxy_wallet .plug_assets_item:last-child {padding-bottom:0;}
.confirm_transaction_popup { display:none; width: 100%; height: 100%; position: absolute; left: 50%; top: 0; transform: translateX(-50%); z-index: 510; }
.confirm_transaction_popup:before { content: ''; display: block; width: 100%; height: 100%; background: rgba(0,0,0,0.3); position: absolute; }
.confirm_transaction_popup_contents { background: #fff; border-radius: 20rem; padding: 15rem 20rem 25rem; width: calc(100% - 60rem); height: calc(100% - 60rem); z-index: 100; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.confirm_transaction_popup .confirm_message {display:flex; align-items:center;justify-content: center; height: 100%; font-size:18rem; font-weight:700;}


/**/
.mob_menu {display: none;width: 25rem;height: 20rem;position: absolute;top: 55rem;right: 0;z-index: 550;cursor: pointer;-webkit-transition: top 300ms;transition: top 300ms;background: none;border: none;}
.mob_menu_line {display: block;width: 100%;height: 2rem;position: absolute;left: 0;background: #fff;-webkit-transition: background 300ms;transition: background 300ms;}
.mob_menu_line_01 {top: 0;}
.mob_menu_line_02 {top: 9rem;}
.mob_menu_line_03 {bottom: 0;}
.mob_menu_close {display: none;width: 50rem;height: 50rem;position: fixed;top: 27rem;right: 18rem;z-index: 650;cursor: pointer;border: none;background: none;}
.mob_menu_close:after {display: block;width: 100%;height: 100%;position: absolute;top: 0;left: 0;font-family: 'aurora-font';content: '\e920';font-size: 17rem;line-height: 50rem;font-weight: normal;text-align: center;color: #fff;}


/* notification */
.notification_view { max-width: 395rem; position: fixed; top: 0; right: 0; width: 100%; height: 100%; z-index: 652; display:none;}
.notification_view_header {height: 70rem;background: #a023c4;padding: 20rem 30rem;position: relative;}
.notification_view_header h2 {font-size: 20rem; color: #fff; letter-spacing:-0.025em;}
.notification_view_close {position: absolute;padding: 10rem;top: 50%;right: 20rem;display: block;text-align: center;transform: translateY(-50%);}
.notification_view_close:after {content: '\e920';font-family: 'aurora-font';font-size:15rem;color: #fff;-webkit-transition: 1s -webkit-transform cubic-bezier(.075,.82,.165,1);transition: 1s -webkit-transform cubic-bezier(.075,.82,.165,1);transition: 1s transform cubic-bezier(.075,.82,.165,1);transition: 1s transform cubic-bezier(.075,.82,.165,1), 1s -webkit-transform cubic-bezier(.075,.82,.165,1);display: block;}
html:not(.mobile) .notification_view_close:hover:after {-webkit-transform: rotate(180deg);-ms-transform: rotate(180deg);transform: rotate(180deg);}

.notification_view_content {background: #eee;height: 100vh;padding: 10rem 30rem;}
.notification_item {border-bottom: 1rem solid #ccc;display: block;padding: 25rem 0;font-size: 15rem;color: #222;font-weight: 600;position: relative;}
.notification_item:first-child {}
.notification_item:last-child {}
.notification_item:after {content: '\e904';font-family: 'aurora-font';font-size: 12rem;color: #aaa;position: absolute;right: 0;top: 50%;transform: translateY(-50%);}
.notification_gift {padding-left: 60rem;}
.notification_gift .icon {display: block;position: absolute;left: 0;font-style: normal;}
.notification_gift .icon:before {width:48rem; height:48rem; background:#d74022; border-radius:50%; content:''; display:block;}
.notification_gift .icon:after {content: '\e929';font-family: 'aurora-font';font-size: 25rem;font-weight: normal;color: #fff;position: absolute;right: 0;top: 50%;left: 50%;transform: translate(-50%,-50%);}
.notification_no_item {position: absolute; top: 50%; left: 50%;transform: translate(-50%,-50%); font-size:15rem;}
.notification_no_item:before {width: 40rem;height: 40rem;line-height: 40rem;background: #888;border-radius: 50%;font-family: 'aurora-font';font-size: 15rem;color:#fff;content: '\e90a';text-align:center;display:block;position: relative;margin: 0 auto 10rem;}
.notification_view_overlay {display: none; position: fixed; top: 0; left: 0; bottom: 0; right: 0; background: #000; background: rgba(0, 0, 0, .5); z-index: 500;}



/* .menu_container {display: block;width: 100%;position: relative;0;line-height: 1;text-align: center;z-index: 1;}
#menu {-webkit-transition: all 0.3s;transition:all .3s;position: absolute;right: 82rem;top: 36rem;}
#menu:after {content: '';display: table;clear: both;}
#menu a {display: block;}
#menu > li {display: inline-block;vertical-align: top;position: relative;}
#menu > li > a {padding: 1rem 30rem;position: relative;font-family: 'NotoSansKR', sans-serif; 18rem;font-weight: 500;color:#222;letter-spacing:0.025em; display:block;}
#menu > li.active > a {font-weight:600;}
#menu > li.active > a span {border-bottom-color:#222;}
#menu > li > a span {border-bottom:2rem solid transparent; -webkit-transition: border .3s;transition: border .3s;}
html:not(.mobile) #menu > li > a:hover {font-weight:600;}
html:not(.mobile) #menu > li > a:hover span {border-bottom-color:#222;}
#menu > li:before { width: 1rem; height: 14rem; background-color: rgba(0, 0, 0, 0.12); content:''; display:block; position:absolute; right:0; top:8rem;}
#menu > li:last-child:before {display:none;}
 */

/* 2depth */
.sub_menu {width: 200rem;position: absolute;top:60rem;left: 50%;background: #111;overflow: hidden;padding: 0;border: 3rem solid #333;border-radius: 8rem;text-align: center;transform: translateX(-50%) translateZ(0); opacity:0; -webkit-transition: opacity 0.25s; transition: opacity 0.25s; visibility:hidden; z-index:100;}
.sub_menu li {display: block;border-bottom: 1rem solid #333; position:relative; z-index:10; }
.sub_menu li:last-child {border-bottom: none;}
.sub_menu li a {padding: 13rem;font-size:15rem;color: #aaa;display:block;}
.sub_menu li.active a {color:#fff;}
html:not(.mobile) .sub_menu li.sub_main {display:none;}

html:not(.mobile) #menu > li:hover > ul, 
#menu > li.focusin > ul,
html.mobile #menu> li.active > ul { height:auto; opacity:1; visibility:visible;}
#menu .menu_item.focusin .sub_menu { opacity:1; visibility:visible;}

/* header fixed */
.fixed#header {height: 100rem; }
.fixed#header:before {opacity:1;}
.fixed#header .header_logo {width:190rem; height:33rem; top: 30rem;}
.fixed#header .global_menu_nav_wrap { top:20rem;}

/* lang */
.lang-container {display: inline-block;vertical-align: middle;margin-left: 30rem;-webkit-transition: top .3s;transition: top .3s;}
.lang-container .selectric {width:130rem;height: auto;text-align: center;padding: 7rem 10rem 9rem 20rem; border:1rem solid #fff; border-radius:30rem;background:none; cursor:pointer;-webkit-transition: color .3s, border .3s;transition: color .3s, border .3s;}
.lang-container .selectric:after {font-family: 'aurora-font';content: '\e906'; font-weight:normal; font-size:10rem; color:#fff;position: absolute;top: 50%;right: 10rem;left: auto;bottom: auto;transform:translateY(-50%);opacity: 1;}
.lang-container .selectric .label {margin: 0px;padding: 0;height: auto;vertical-align: middle;display: block;  color:#fff; font-size:14rem;font-weight:700;line-height: 1.5;}
.lang-container .selectric .label:before {width:24rem; height:24rem;display: block;vertical-align: middle; content:'';position: absolute;top: 6rem;left: 5rem; border:1rem solid transparent;}
.lang-container.ko .selectric .label:before {background:url(../images/layout/flag-korea.svg) no-repeat;}
.lang-container.us .selectric .label:before {background:url(../images/layout/flag-usa.svg) no-repeat;}
.lang-container.cn .selectric .label:before {background:url(../images/layout/flag-china.svg) no-repeat;}
.lang-container.tw .selectric .label:before {background:url(../images/layout/flag-taiwan.svg) no-repeat;}
.lang-container.jp .selectric .label:before {background:url(../images/layout/flag-japan.svg) no-repeat;}
.lang-container.vi .selectric .label:before {background:url(../images/layout/flag-vietnam.svg) no-repeat;}
.lang-container.ee .selectric .label:before {background:url(../images/layout/flag-estonia.svg) no-repeat;}
.lang-container .selectric .button {display:none;}
.lang-container .selectric-items {background: #111;border-radius: 10rem;border: 3rem solid #333;text-align:center; margin-top:10rem;padding: 6rem 10rem; box-shadow:none;}
.lang-container .selectric-items li {position: relative;padding: 8rem 8rem 8rem 28rem;font-size: 13rem;color: #aaa; font-weight:500;-webkit-transition: color .3s;transition: color .3s;text-align: left;border-bottom: 1rem solid #444;border-top: none;}
.lang-container .selectric-items li:last-child {border-bottom:none;}
.lang-container .selectric-items li:before {width:20rem; height:20rem;display: block;vertical-align: middle; content:'';position: absolute;top: 50%;left: 0;transform: translateY(-50%);border-radius: 50%; border:1rem solid transparent;}
.lang-container .selectric-items li.selected,
.lang-container .selectric-items li.highlighted,
.lang-container .selectric-items li:hover {background:none;color: #aaa;}
.lang-container .selectric-items li.lang-select--ko:before {background:url(../images/layout/flag-korea.svg) no-repeat;}
.lang-container .selectric-items li.lang-select--en:before {background:url(../images/layout/flag-usa.svg) no-repeat;}
.lang-container .selectric-items li.lang-select--cn:before {background:url(../images/layout/flag-china.svg) no-repeat;}
.lang-container .selectric-items li.lang-select--tw:before {background:url(../images/layout/flag-taiwan.svg) no-repeat;}
.lang-container .selectric-items li.lang-select--jp:before {background:url(../images/layout/flag-japan.svg) no-repeat;}
.lang-container .selectric-items li.lang-select--vi:before {background:url(../images/layout/flag-vietnam.svg) no-repeat;}
.lang-container .selectric-items li.lang-select--ee:before {background:url(../images/layout/flag-estonia.svg) no-repeat;border: 1rem solid #ddd;}


/* **************************************** *
 * CONTAINER
 * **************************************** */
#container { min-height:400rem; margin-bottom:180rem;}



/* **************************************** *
 * PAGE
 * **************************************** */
/* PAGE HEADER */
.article_header {position: relative;height: 383rem;text-align:center;background-size: cover;}
.article_header:before {width:100%;height:100%;background:#000;opacity:0.6;content:'';display:block;position: absolute;top: 0;}
.article_header:after {width:100%; height:20%;background:linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%); content:''; display:block; position:absolute; bottom:0;left:0}
.article_header_inner {max-width:100%;width: 100%;height: 100%;display: table;position:relative;}
.article_title {padding-top:50rem;font-size: 52rem;color:#fff;display: table-cell;vertical-align: middle; letter-spacing:-0.025em;}


/* PAGE BODY */
.article_body {position: relative;min-height: 360rem; margin-top:110rem;}
.article_body.no_visual {margin-top:180rem;}


/* **************************************** *
 * FOOTER
 * **************************************** */
#footer {width: 100%;padding: 40rem 0 60rem;position: relative;background: #111;z-index:100;}

.footer_top {display:flex;}
.footer_menu:after {content: '';display: table;clear: both}
.footer_menu {margin: -5rem -20rem;font-size:0;}
.footer_menu > li {display:inline-block; vertical-align:middle;}
.footer_menu > li.privacy a {color:#fff;}
.footer_menu > li > a {display: inline-block;vertical-align: middle;padding: 5rem 19rem;position: relative;font-size: 16rem;font-weight: 500;letter-spacing: -0.01em;line-height: 1.35;color: #ccc;-webkit-transition: color .3s;transition: color .3s;}
html:not(.mobile) .footer_menu > li > a:hover {color: #fff;}
.footer_info_wrap {margin-top: 30rem;padding-top:30rem;border-top:1px solid rgba(255,255,255,0.1);}
.footer_info_logo {display:inline-block;vertical-align: top;}
.footer_info_logo a {display: block;}
.footer_info_logo a + a {margin-top:15rem;}
.footer_info_logo img {max-width:100%;display: block;width: 90rem;}
html[lang="zh-TW"] .footer_info_wrap .footer-logo__petpoint {width: 100rem;height: 19rem;}
html[lang="en"] .footer_info_wrap .footer-logo__astrogaz {width: 100rem;height: 21rem;}
html[lang="en"] .footer_menu {max-width:50%;}
html[lang="en"] .footer_menu > li > a {font-size:15rem;}


.footer__lang {font-size:0;margin-left:auto;}
.footer__lang li {display:inline-block; position:relative;padding-left: 20rem;margin-right: 5rem;}
.footer__lang li:last-child {margin-right:0rem}
.footer__lang a {color: #ccc; font-size:15rem; padding:5rem 8rem;}
.footer__lang a span {position:relative; padding-bottom:2rem;}
.footer__lang li:before {width: 22rem;height: 22rem;display: block;vertical-align: middle; content:'';position: absolute;top: 50%;left: 0;transform: translateY(-50%);}
.footer__lang li.footer__lang--ko:before {background:url(../images/layout/flag-korea.svg) no-repeat;}
.footer__lang li.footer__lang--en:before {background:url(../images/layout/flag-usa.svg) no-repeat;}
.footer__lang li.footer__lang--cn:before {background:url(../images/layout/flag-china.svg) no-repeat;}
.footer__lang li.footer__lang--tw:before {background:url(../images/layout/flag-taiwan.svg) no-repeat;}
.footer__lang li.footer__lang--jp:before {background:url(../images/layout/flag-japan.svg) no-repeat;}
.footer__lang li.footer__lang--vi:before {background:url(../images/layout/flag-vietnam.svg) no-repeat;}
.footer__lang li.footer__lang--ee:before {background:url(../images/layout/flag-estonia.svg) no-repeat;}

.footer_info {width: calc(100% - 170rem); margin-left: 40rem;display: inline-block;vertical-align: top;}
.footer_info p {font-weight: 500;letter-spacing: -0.01em;font-size: 0;}
.footer_info p + p {margin-top:3rem;}
.footer_info p span, .footer_info p span a {font-size: 15rem;color: #888;}
.footer_info p span {display: inline-block;position: relative;vertical-align: middle;margin-right: 7rem;padding-right: 9rem;}
.footer_info p span:after {content: '';display: block;width: 1rem;height: 12rem;position: absolute;right: 0;top: 50%;margin-top: -5rem;background: #fff;background: rgba(255, 255, 255, .1);}
.footer_info p span:last-child {padding-right: 0;}
.footer_info p span:last-child:after {display: none;}
.footer_info p span i {font-style:normal;}
.footer_info .footer_mail a {font-size: 13rem;font-weight: 500;letter-spacing: 0.05em;color: #888;}

.footer_info .copyright {clear:both;font-size: 14rem;letter-spacing: 0.1em;line-height: 1.5;color: #888;margin-top: 20rem;}
.footer_info .footer_statute {font-size: 15rem;line-height: 1.5;color: #888;margin-top: 20rem;}

.go_randombox {width:61rem;height:61rem;line-height: 1.3;border-radius:50%;background:linear-gradient(135deg, rgba(134,31,145,1) 0%, rgba(35,104,142,1) 100%);font-size:14rem;font-weight:500;color:#fff;letter-spacing:-0.025em;text-align:center;position:absolute;bottom: 350rem;right:60rem;-webkit-transition: opacity 0.3s, visibility 0.3s, color 0.3s, background 0.3s;transition: opacity 0.3s, visibility 0.3s, color 0.3s, background 0.3s;z-index: 400;display: table;}
.go_randombox > span {display:table-cell; vertical-align:middle;}
.go_randombox.sticky_btn_fix {position: fixed;top: inherit;bottom: 100rem;}
.go_randombox.sticky_btn_hide {opacity: 0; visibility:hidden;}



/* **************************************** *
 * SCROLL
 * **************************************** */
/* scroll top */
.go_top {display: block;width: 60rem;height: 60rem;position: absolute;top: -94rem;right: 60rem;text-align: center;line-height: 60rem;background: #333;border-radius: 50%;-webkit-transition: opacity 0.3s, background 0.3s;transition: opacity 0.3s, background 0.3s;z-index: 999;}
.go_top:before {font-family:'aurora-font';font-size: 14rem; font-weight:normal; color:#fff;content:'\e900';display:block;}
html:not(.mobile) .go_top:hover {background: #a023c4;}
.body_page_game_view .go_top {background: #222;}

.go_top.sticky_btn_fix {position: fixed;top: inherit;bottom: 30rem;}
.go_top.sticky_btn_hide {opacity: 0;z-index: -1;}


/* **************************************** *
 * PRIVACY, TERMS
 * **************************************** */
.policy_box + .policy_box {margin-top:60rem;}
.policy_title {font-size: 20rem;color:#fff;margin-bottom: 20rem;}
.policy_box_wrap {margin-bottom: 20rem;letter-spacing: -0.025em;word-break: keep-all; background:#252525; border-radius:8rem;}
.policy_box_wrap:last-child {margin-bottom: 0;}
.policy_box_title {display: block;padding-bottom: 18rem;margin-bottom: 0;font-size: 20rem;letter-spacing:-0.05em;line-height: 1.66;font-weight: 600;color: #fff; border-bottom:1rem solid #444; margin-bottom:30rem;}
.policy_content_box {margin-bottom: 25rem;}
.policy_content_box h3 {margin-bottom: 5rem;font-size: 15rem;font-weight:600;color: #aaa;letter-spacing:-0.01em;}
.policy_content_box strong { color:#ed4043; font-weight:700;}
.policy_content_box .bullet_list {margin-top: 18rem; margin-bottom:18rem;}
.policy_content_box .bullet_list > li {padding-left: 35rem;position:relative;word-break: keep-all;}
.policy_content_box .bullet_list > li:before {width:5rem;height:5rem;background:#ed4043;border-radius:50%;display:block;content:'';position:absolute;left: 20rem;top:12rem;}
.policy_content_box > .bullet_list li { margin-bottom:10rem;}
.policy_content_box > ul > li > .bullet_list li { margin-bottom:4rem;}
.policy_content_box p + p {margin-top:15rem;}
.policy_box > *:last-child {margin-bottom: 0;}
.policy_box p {font-size: 16rem;line-height: 1.75;color: #999;}
.policy_box b {display: block;font-size: 16rem;line-height: 1.75;font-weight: 600;color: #ed4043;}
.policy_box li {margin-bottom: 8rem;position: relative;font-size: 15rem;line-height: 1.5;color: #999;}
.policy_box li:last-child {margin-bottom: 0;}
.policy_box > ul > li {padding-left: 14rem;margin-bottom: 2rem;}
.policy_box > ul > li:before {content: '';display: block;width: 4rem;height: 4rem;position: absolute;left: 0;top: 12rem;background: #ed4043;border-radius: 50%;}
.policy_box > ul > li > ul {margin-top: 2rem;margin-bottom: 26rem;}
.policy_box > ul > li:last-child > ul {margin-bottom: 0;}
.policy_box .primary_num_list {counter-reset: item;}
.policy_box .primary_num_list > li {position: relative;font-size: 16rem;line-height: 1.75;color: #999;letter-spacing: -0.025em;padding-left: 20rem;counter-increment: item;}
.policy_box .primary_num_list > li:before {width: 13rem; height: 13rem; text-align: center; font-size: 12rem; content: counter(item);display: block;position: absolute;top:7rem;left: 0;background:none; border: 1rem solid #666; border-radius: 50%; line-height:1;}
.policy_box .secondary_num_list {counter-reset: item;}
.policy_box .secondary_num_list > li {position: relative;font-size: 16rem;line-height: 1.75;color: #999;letter-spacing: -0.025em;padding-left: 15rem;counter-increment: item;}
.policy_box .secondary_num_list > li:before {text-align: center; font-size: 15rem; content: counter(item)".";display: block;position: absolute;top:7rem;left: 0;background:none; line-height:1;}
.policy_box .secondary_num_list > li:nth-child(n+10) {padding-left:22rem;}
.policy_wrap .custom_checkbox_wrap {text-align:right;}

.privacy_intro {margin-bottom: 52rem;padding: 33rem 38rem 34rem;background: #fff;border:3rem solid #ddd;border-radius:10rem;}
.privacy_box {margin-bottom: 47rem;letter-spacing:-0.01em;}
.privacy_box:last-child {margin-bottom: 0;}
.privacy_box_title {display: block;padding-bottom: 24rem; margin-top:46rem; margin-bottom: 23rem;font-size: 20rem;letter-spacing:-0.01em;line-height: 1.66;font-weight: 600;color: #222;border-bottom: 1rem solid #ddd;}
.privacy_box {margin-bottom: 35rem;}
.privacy_box h3  {margin-bottom: 0;margin-top: 29rem;font-size: 16rem;font-weight:600;color:#222;letter-spacing:-0.01em;}
.privacy_box h3 + .bullet_list { margin-top:12rem;}
.privacy_box h3 + .bullet_list > li { margin-bottom:17rem;}
.privacy_box h3 + .bullet_list > li > ul { margin-top:4rem;}
.privacy_box h3 + .bullet_list + p { margin-top:27rem;}
.privacy_box strong { color:#ed4043; font-weight:700;}
.privacy_box > *:last-child {margin-bottom: 0;}
.privacy_box p {margin-bottom: 17rem;font-size: 16rem;line-height: 1.75;color: #666;}
.privacy_box b {display: block;font-size: 16rem;line-height: 1.75;font-weight: 600;color: #ed4043;}
.privacy_box li {margin-bottom: 4rem;position: relative;font-size: 16rem;line-height: 1.75;color: #666;}
.privacy_box li:last-child {margin-bottom: 0;}
.privacy_box li > p {margin-top: 9rem;}
.privacy_box > ul > li {margin-bottom:11rem;}
.privacy_box > ul > li > ul {margin-top: 2rem;}
.privacy_box > ul > li:last-child > ul {margin-bottom: 0;}
.privacy_box .bullet_list {margin-top: 16rem;margin-bottom: 16rem;}
.privacy_box .bullet_list > li {padding-left: 35rem;position:relative;word-break: keep-all;}
.privacy_box .bullet_list > li:before {width:5rem;height:5rem;background:#ed4043;border-radius:50%;display:block;content:'';position:absolute;left: 20rem;top:12rem;}
.privacy_box .bullet_list > li > b { color:#222;}
.privacy_box > ul > li > .bullet_list li { margin-bottom:5rem;}
.privacy_box .bullet_list  .hyphen_list { margin-left:0;}
.privacy_box .hyphen_list {margin:4rem 0 17rem 19rem;}
.privacy_box .hyphen_list > li { margin-bottom:4rem; padding-left:10rem; position:relative;}
.privacy_box .hyphen_list > li:before { width:5rem; height:1rem; background:#666; position:absolute; left:0; top:15rem; content:''; display:block;}
.privacy_box .hyphen_list .bullet_list > li { padding-left:25rem;}
.privacy_box .hyphen_list .bullet_list > li:before { left:11rem;}
.privacy_box .list_content_box {background:#eee;border-radius:10rem;padding: 22rem 32rem 25rem;margin: 14rem 0 23rem 0rem;line-height: 2.1;font-size: 15rem;color:#666;}
.privacy_box .list_content_box p {font-size:15rem;margin-bottom: 0;/* line-height: 1.9; */margin-top: 2rem;}
.privacy_box .mail_link { border-bottom:1rem solid #222; padding-bottom:1rem; color:#222;}
.privacy_box ol { margin-top:36rem;}
.privacy_box ol a { color:#666;}
.privacy_table {width: calc(100% + 15rem); margin:15rem 0 33rem -15rem; border-bottom:1rem solid #ddd; position: relative;}
html.ie9 .privacy_table  { width:100%; margin-left:0;}
.privacy_table caption {width: 1rem;height: 1rem;position: absolute;top: 0;left: 0;font-size: 0;line-height: 0;overflow: hidden;}
.privacy_table tr {width: 100%;}
.privacy_table th {padding: 21rem 20rem 24rem;position: relative;font-size: 16rem;text-align: center;font-weight: 600;color: #fff;vertical-align: middle;background:#ed4043;}
.privacy_table th:before {content: '';display: block;width: 1rem;height: 16rem;position: absolute;top: 50%;left: 1rem;margin-top: -6.5rem;background: #dedede;}
.privacy_table th:first-child { width:21.1%;}
.privacy_table th:first-child:before {display: none;}
.privacy_table td {padding: 22rem 36rem 22rem 30rem;font-size: 15rem;vertical-align: middle;border-bottom: 1rem solid #dedede;line-height: 1.9;}
.privacy_table td:first-child {background:#f3f2f2;font-weight:600;color: #222;text-align: center;}

